.App {
  text-align: center;
}
.App a {
  text-decoration: none;
  color: inherit;
}
.App .navbar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30%;
  align-items: center;
  padding: 0.5rem;
}
.App .navbar ul {
  list-style: none;
}
.App .navbar .logo {
  font-family: "Lugrasimo", cursive;
  font-size: 24px;
}
.App .navbar .navigation {
  display: flex;
  flex-direction: row;
}
.App .navbar .navigation li {
  margin-left: 10px;
}
.App .navbar .navigation li a {
  font-weight: 500;
}
.App .navbar .navigation li a:hover {
  color: var(--accent);
}
.App .navbar .navigation li .meals {
  position: absolute;
  text-align: left;
  margin-left: -5px;
  padding: 10px;
  background-color: white;
  opacity: 0.95;
  display: none;
  border-radius: 10px;
}
.App .navbar .navigation li .meals ul {
  margin-left: -15px;
}
.App .navbar .navigation li .meals ul li {
  padding-bottom: 5px;
}
.App .home-page .hero {
  background: 30% 70%/100% url("./assets/hero.jpg");
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.App .home-page .hero h1 {
  font-family: "Lugrasimo", cursive;
  padding-bottom: 25px;
  text-shadow: 1px 1px 4px white;
}
.App .home-page .search-bar {
  width: 80%;
  max-width: 400px;
  margin: -15px auto 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--accent-30);
  box-shadow: 0 0 3px var(--accent-30);
  border-radius: 15px;
  padding: 0 1rem;
  background-color: white;
}
.App .home-page .search-bar input {
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
}
.App .home-page .search-bar svg {
  width: 17px;
  color: rgb(65, 65, 65);
}
.App .home-page h2 {
  margin-top: 3rem;
  text-transform: capitalize;
}
.App .home-page .recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2%;
  margin: 3rem auto 2rem auto;
  width: 80%;
}
.App .home-page .recipes a {
  margin: 2rem auto;
}
.App .home-page .recipes .recipe-card {
  background-color: var(--bg);
  max-width: 280px;
  padding: 1rem;
  border-radius: 20px;
}
.App .home-page .recipes .recipe-card .image {
  width: 240px;
  height: 200px;
  margin: -25px auto 0 auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 5px lightgray;
}
.App .home-page .recipes .recipe-card .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.App .home-page .recipes .recipe-card .main-details {
  border-bottom: 2px solid rgb(234, 233, 233);
}
.App .home-page .recipes .recipe-card .main-details h3 {
  margin-top: 25px;
  margin-bottom: 15px;
  line-height: 20px;
  height: 43px;
  overflow: hidden;
}
.App .home-page .recipes .recipe-card .main-details .food-type {
  font-size: 13px;
  background-color: var(--accent-30);
  padding: 0.1rem 0.6rem;
  border-radius: 3rem;
}
.App .home-page .recipes .recipe-card .main-details .rating {
  margin: 5px 0 10px 0;
  font-size: 14px;
  font-weight: 500;
}
.App .home-page .recipes .recipe-card .main-details .rating svg {
  color: gold;
  width: 15px;
}
.App .home-page .recipes .recipe-card .main-details .rating span {
  color: gray;
  margin: 0 7px 0 7px;
  font-weight: 400;
}
.App .home-page .recipes .recipe-card .extra-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
}
.App .home-page .recipes .recipe-card .extra-details div:first-child p {
  text-align: left;
}
.App .home-page .recipes .recipe-card .extra-details div:nth-child(2) {
  border-right: 2px solid rgb(234, 233, 233);
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.App .home-page .recipes .recipe-card .extra-details div:last-child p {
  text-align: right;
}
.App .home-page .recipes .recipe-card .extra-details div p:first-child {
  color: gray;
  font-size: 13px;
}
.App .home-page .recipes .recipe-card .extra-details div p:nth-child(2) {
  font-weight: 500;
  font-size: 15px;
}
.App .recipe-details {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  padding: 5rem 0.5rem 2rem;
}
.App .recipe-details a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}
.App .recipe-details a svg {
  width: 20px;
  margin-right: 5px;
}
.App .recipe-details a:hover {
  color: var(--accent-hover);
}
.App .recipe-details h1 {
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--accent);
}
.App .recipe-details .recipe-image {
  width: 90%;
  max-width: 500px;
  margin: 2rem auto 1rem auto;
  background-color: var(--bg);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 10px var(--shadow);
}
.App .recipe-details .recipe-image img {
  width: 100%;
  aspect-ratio: 2/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.App .recipe-details .recipe-image .recipe-extra {
  text-transform: capitalize;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem;
}
.App .recipe-details .recipe-image .recipe-extra span {
  flex-basis: 50%;
  text-align: left;
  margin-bottom: 10px;
}
.App .recipe-details .recipe-image .recipe-extra span svg {
  width: 15px;
  color: var(--accent);
  margin-right: 10px;
}
.App .recipe-details .how-to-prepare h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.App .recipe-details .how-to-prepare ul {
  margin-left: 2rem;
  list-style: disc;
}
.App .recipe-details .how-to-prepare ul li {
  margin-bottom: 0.8rem;
  padding-left: 5px;
  line-height: 20px;
}
.App .recipe-details .how-to-prepare ul li::marker {
  color: var(--accent);
}
.App .recipe-details .how-to-prepare div:nth-child(2) li {
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .App .home-page .hero {
    background: 40% 60%/100% url("./assets/hero.jpg");
  }
  .App .recipe-details .recipe-image {
    max-width: 700px;
  }
  .App .recipe-details .recipe-image .recipe-extra {
    margin-left: 2rem;
  }
  .App .how-to-prepare {
    display: flex;
    flex-direction: row;
  }
  .App .how-to-prepare h2 {
    padding-left: 1rem;
  }
  .App .how-to-prepare div:first-child {
    flex-basis: 45%;
  }
  .App .how-to-prepare div:first-child ul {
    padding-right: 10px;
    border-right: 2px solid var(--accent-30);
  }
  .App .how-to-prepare div:nth-child(2) {
    flex-basis: 55%;
  }
}
@media (min-width: 1024px) {
  .App .navbar {
    padding: 0.5rem 1.5rem;
  }
  .App .navbar .navigation li {
    margin-left: 20px;
  }
  .App .recipe-details {
    width: 80%;
  }
}/*# sourceMappingURL=App.css.map */