.App {
  text-align: center;
}
.App .navbar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.App .navbar .logo {
  font-family: "Lugrasimo", cursive;
  font-size: 24px;
}
.App .navbar .navigation {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.App .navbar .navigation li {
  margin-left: 10px;
}
.App .navbar .navigation li a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 500;
}
.App .navbar .navigation li a:hover {
  color: var(--accent);
}
.App .navbar .navigation li .is-active {
  color: var(--accent);
}
.App .home-page .hero {
  background: 30% 70%/100% url("./assets/hero.jpg");
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.App .home-page .hero h1 {
  font-family: "Lugrasimo", cursive;
  padding-bottom: 25px;
  text-shadow: 1px 1px 4px white;
}
.App .home-page .search-bar {
  width: 80%;
  max-width: 400px;
  margin: -15px auto 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--accent-30);
  box-shadow: 0 0 3px var(--accent-30);
  border-radius: 15px;
  padding: 0 1rem;
  background-color: white;
}
.App .home-page .search-bar input {
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
}
.App .home-page .search-bar svg {
  width: 17px;
  color: rgb(65, 65, 65);
}
.App .home-page .recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.App .home-page .recipes .recipe-card {
  background-color: var(--bg);
  max-width: 280px;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 20px;
}
.App .home-page .recipes .recipe-card .image {
  width: 240px;
  height: 200px;
  margin: -25px auto 0 auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 5px lightgray;
}
.App .home-page .recipes .recipe-card .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.App .home-page .recipes .recipe-card .main-details {
  border-bottom: 2px solid rgb(234, 233, 233);
}
.App .home-page .recipes .recipe-card .main-details h3 {
  margin-top: 25px;
  margin-bottom: 15px;
  line-height: 20px;
}
.App .home-page .recipes .recipe-card .main-details .food-type {
  font-size: 13px;
  background-color: var(--accent-30);
  padding: 0.1rem 0.6rem;
  border-radius: 3rem;
}
.App .home-page .recipes .recipe-card .main-details .rating {
  margin: 5px 0 10px 0;
  font-size: 14px;
  font-weight: 500;
}
.App .home-page .recipes .recipe-card .main-details .rating svg {
  color: gold;
  width: 15px;
}
.App .home-page .recipes .recipe-card .main-details .rating span {
  color: gray;
  margin: 0 7px 0 7px;
  font-weight: 400;
}
.App .home-page .recipes .recipe-card .extra-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  margin-top: 0.5rem;
}
.App .home-page .recipes .recipe-card .extra-details div:first-child p {
  text-align: left;
}
.App .home-page .recipes .recipe-card .extra-details div:nth-child(2) {
  border-right: 2px solid rgb(234, 233, 233);
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.App .home-page .recipes .recipe-card .extra-details div:last-child p {
  text-align: right;
}
.App .home-page .recipes .recipe-card .extra-details div p:first-child {
  color: gray;
  font-size: 13px;
}
.App .home-page .recipes .recipe-card .extra-details div p:nth-child(2) {
  font-weight: 500;
  font-size: 15px;
}

@media (min-width: 768px) {
  .App .home-page .hero {
    background: 40% 60%/100% url("./assets/hero.jpg");
  }
}
@media (min-width: 1024px) {
  .App .navbar {
    padding: 0.5rem 1.5rem;
  }
  .App .navbar .navigation li {
    margin-left: 20px;
  }
}/*# sourceMappingURL=App.css.map */